@using Vibes.ASBManager.Application.Models

<MudPaper Class="pa-3 mt-3" Elevation="1">
    <div class="d-flex align-center mb-2" style="gap:8px;">
        <MudText Typo="Typo.h6">Dead-letter Messages</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" Disabled="@(!PrevEnabled || !CanRefresh)" OnClick="@OnPrev" />
        <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" Disabled="@(!NextEnabled || !CanRefresh)" OnClick="@OnNext" />
        <MudButton Variant="Variant.Outlined" Disabled="@(!CanRefresh)" OnClick="@OnRefresh">
            <MudIcon Icon="@Icons.Material.Filled.Refresh" />
            <span class="ms-1">Refresh</span>
        </MudButton>
    </div>
    <MudTable T="MessagePreview" Items="Items" Dense="true" Hover="true" RowsPerPage="@UiRowsPerPage" Elevation="0" OnRowClick="@OnRowClick">
        <HeaderContent>
            <MudTh>Seq</MudTh>
            <MudTh>Dead-lettered</MudTh>
            <MudTh>MessageId</MudTh>
            <MudTh>Subject</MudTh>
            <MudTh>CorrelationId</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Seq">@context.SequenceNumber</MudTd>
            <MudTd DataLabel="Dead-lettered">@context.EnqueuedTime.LocalDateTime.ToString("yyyy-MM-dd HH:mm:ss")</MudTd>
            <MudTd DataLabel="MessageId">@context.MessageId</MudTd>
            <MudTd DataLabel="Subject">@context.Subject</MudTd>
            <MudTd DataLabel="CorrelationId">@context.CorrelationId</MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>

@code {
    [Parameter] public IReadOnlyList<MessagePreview>? Items { get; set; }
    [Parameter] public bool CanRefresh { get; set; }
    [Parameter] public int UiRowsPerPage { get; set; } = 25;

    [Parameter] public bool PrevEnabled { get; set; }
    [Parameter] public bool NextEnabled { get; set; }

    [Parameter] public EventCallback OnRefresh { get; set; }
    [Parameter] public EventCallback OnPrev { get; set; }
    [Parameter] public EventCallback OnNext { get; set; }
    [Parameter] public EventCallback<MudBlazor.TableRowClickEventArgs<MessagePreview>> OnRowClick { get; set; }
}
